<!doctype html>
<html>
  <head>

    <!-- Doorman Analytics -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-48SSS1F7DP"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-48SSS1F7DP');
		</script>

    <!-- DoorMan favicon -->
		<link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    
    <!-- for the copy icon only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- for ajax support in top.js and bottom.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/admin/assets/css/main.css">
    
    <script src="/admin/assets/js/top.js"></script>

    <title>DoorMan - Admin Panel</title>

  </head>
  <body>
    
    <section class="nav">
      <a class="header-link" href="/">
        <!-- Door svg -->
        <svg
          width="34"
          height="47"
          viewBox="0 0 34 47"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 2H25.375C27.0658 2 28.6873 2.67165 29.8828 3.86719C31.0784 5.06274 31.75 6.68424 31.75 8.375V38.125C31.75 38.6886 31.5261 39.2291 31.1276 39.6276C30.7291 40.0261 30.1886 40.25 29.625 40.25H23.25"
            stroke="#FFD233"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.875 23.25V27.5M2 2L18.1245 5.22575C19.5695 5.51457 20.8698 6.29506 21.8043 7.43446C22.7387 8.57386 23.2496 10.0018 23.25 11.4754V41.9075C23.2498 42.2218 23.1799 42.5321 23.0454 42.8161C22.9108 43.1001 22.7149 43.3507 22.4718 43.5499C22.2287 43.7491 21.9445 43.8919 21.6396 43.968C21.3347 44.0441 21.0167 44.0516 20.7085 43.99L5.417 40.9343C4.45319 40.7416 3.58595 40.2209 2.96292 39.4607C2.3399 38.7005 1.99961 37.7479 2 36.765V2Z"
            stroke="#FFD233"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <h1>Admin Panel</h1>
      </a>
      <ul>
        <li>
          <a href="/">AI-Workbench</a>
        </li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
      </ul>
    </section>
    
    <section class="overview">
    
      <aside class="info left-panel" >
        <div class="title">
          <h2 id="details-view-name">bob-local</h2>
          <a
            class="pill purple"
            target="_blank"
            rel="noreferrer noopener"
            href="https://en.wikipedia.org/wiki/Stable_Diffusion"
            >Stable Diffusion
          </a>
          <a
            class="pill teal"
            target="_blank"
            rel="noreferrer noopener"
            href="https://civitai.com/models/4823?modelVersionId=5616"
            >Deliberate v1.1
          </a>
        </div>
        <div class="credit">
          <p>Host: <span id="details-view-host">127.0.0.1:5000</span></p>
          <!-- 
          <div>
            <p>Credit: <span class="text-green">100 sats</span></p>
            <p>Used: <span class="text-yellow">20 sats</span></p>
            <p>Fee: <span class="text-red">10 sats</span></p>
          </div>
           -->
        </div>
        <br />
        <div class="compatible-frontend">
          Supports:
          <a
            class="link"
            href="https://github.com/AUTOMATIC1111/stable-diffusion-webui"
            target="_blank"
            rel="noreferrer noopener"
            >Automatic 1111
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
            >
              <path
                d="M12 2C10.6868 2 9.38642 2.25866 8.17317 2.7612C6.95991 3.26375 5.85752 4.00035 4.92893 4.92893C3.05357 6.8043 2 9.34784 2 12C2 16.42 4.87 20.17 8.84 21.5C9.34 21.58 9.5 21.27 9.5 21V19.31C6.73 19.91 6.14 17.97 6.14 17.97C5.68 16.81 5.03 16.5 5.03 16.5C4.12 15.88 5.1 15.9 5.1 15.9C6.1 15.97 6.63 16.93 6.63 16.93C7.5 18.45 8.97 18 9.54 17.76C9.63 17.11 9.89 16.67 10.17 16.42C7.95 16.17 5.62 15.31 5.62 11.5C5.62 10.39 6 9.5 6.65 8.79C6.55 8.54 6.2 7.5 6.75 6.15C6.75 6.15 7.59 5.88 9.5 7.17C10.29 6.95 11.15 6.84 12 6.84C12.85 6.84 13.71 6.95 14.5 7.17C16.41 5.88 17.25 6.15 17.25 6.15C17.8 7.5 17.45 8.54 17.35 8.79C18 9.5 18.38 10.39 18.38 11.5C18.38 15.32 16.04 16.16 13.81 16.41C14.17 16.72 14.5 17.33 14.5 18.26V21C14.5 21.27 14.66 21.59 15.17 21.5C19.14 20.16 22 16.42 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2Z"
                fill="#A7A7A7"
              />
            </svg>
          </a>
        </div>
      </aside>

        <div class="fund funding-wrapper right-panel">
      
          <div class="holder"></div>

          <div class="info">
            
            <div class="">
              <p class="pay-info">To: <span id="worker-invoice-name">-</span></p>
              <p class="pay-info">Amt: 50 sats</p>
            </div>
            
            <div id="invoice-info">
              
              <p 
                data-invoice=""
                id="invoice-string"
                >
                lnbc100...
                <i class="fas fa-copy" id="copy-icon" title="Copy to Clipboard"></i>
                <i class="fas fa-info-circle" id="modal-icon" title="View full invoice"></i>
              </p>
              
              <p>
                <span id="is-paid-key">is paid: </span>
                <span id="is-paid-value">🔲 not yet</span>
              </p>

            </div>
            <div id="invoice-message pay-info">
              <p id="payment-waiting-message">waiting for payment...</p>
              <p id="payment-message">payment succesful: reloading page in 3 seconds</p>
              <p id="payment-error-message">there was an error funding this worker</p>
            </div>
          </div>
          
          <div id="qr-actual-wrapper">
            <img class="qr-img" id="qr-code" src="" alt="QR Code">
          </div>
          
          <div id="qr-loading-wrapper">
            <img class="qr-img" id="qr-code-loading" src="/admin/assets/imgs/qr-loading-1.gif" alt="invoice-request-is-loading" />
          </div>
          <div id="qr-failure-wrapper">
            <img class="qr-img" id="qr-failure-img" src="/admin/assets/imgs/darn-3.gif" alt="invoice-request-failed" />
          </div>

        </div>
    
    </section>
    
    <section class="workers-list">
        
      <br />
      <br />
      
      <h2>My Workers</h2>
      
      <table>
        
        <thead>
          <tr>
            <th>Name</th>
            <th>Fee (Sats)</th>
            <th>Credit (Sats)</th>
            <th>Funding</th>
          </tr>
        </thead>
        
        <tbody>
          <% workers.forEach(function(worker, index) { %>

          <tr
            id="row-<%= index %>"
            class="switch-worker"
            data-row="<%= index %>"
            data-worker-addr="<%= worker.worker_addr %>"
            title="click to view details"
          >
            <td><%= worker.name %></td>
            <td><%= worker.fee %></td>
            <td><%= worker.credits %></td>
            <td>

        
            <button class="fund-btn" onclick="fundWorkerOnClick(event)">
              Fund Worker
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="22"
                viewBox="0 0 14 22"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.0003 1.00051C9.00041 0.780676 8.92808 0.566933 8.7945 0.392343C8.66091 0.217752 8.47352 0.0920443 8.26131 0.0346652C8.0491 -0.022714 7.82389 -0.00856686 7.62053 0.0749182C7.41717 0.158403 7.24698 0.306574 7.1363 0.496509L0.136296 12.4965C0.0476155 12.6485 0.000603071 12.8212 5.76363e-06 12.9971C-0.000591544 13.1731 0.0452471 13.3461 0.132894 13.4986C0.220541 13.6512 0.346893 13.7779 0.499191 13.8661C0.65149 13.9542 0.824342 14.0006 1.0003 14.0005H5.0003V21.0005C5.00018 21.2203 5.07251 21.4341 5.2061 21.6087C5.33968 21.7833 5.52707 21.909 5.73928 21.9664C5.95149 22.0237 6.1767 22.0096 6.38006 21.9261C6.58343 21.8426 6.75361 21.6944 6.8643 21.5045L13.8643 9.50451C13.953 9.35254 14 9.17986 14.0006 9.0039C14.0012 8.82795 13.9553 8.65495 13.8677 8.50238C13.7801 8.34981 13.6537 8.22307 13.5014 8.13495C13.3491 8.04683 13.1763 8.00046 13.0003 8.00051H9.0003V1.00051Z"
                  fill="black"
                />
              </svg>
            </button>
        
            </td>
          </tr>
          <% }); %>
        </tbody>

      </table>

    </section>

    <div id="modal-popup" style="max-width: 40rem;">
      <span class="close" style="font-size: xx-large;">&times;</span>
      <p>Invoice Num:</p>
      <p id="invoice-num-modal" style="word-wrap: break-word;"></p>
    </div>
   
    <script src="/admin/assets/js/bottom.js"></script>

  </body>
</html>


